@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{margin:0px; padding:0px;}
body{ font-family: "Open Sans", sans-serif;background:#ebe9e9!important;}
header{width: 100%;height:70px;background: white;}
header .row{margin:0px !important;}
header .logo{text-decoration: none !important;}
header .logo img{width:45px !important;}
header .logo span{color:black !important;font-weight:800 !important;font-size: 24px !important;}
header button.rounded-circle{ min-width:40px !important;width:40px !important;height: 40px !important;background: #f0f5ff !important;color:#292929 !important;}